body, p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 18px; /*preview font-size*/
}

.editor {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.preview {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
}

:root{
  --editor-font: Hack;
  --preview-font: Arial;
}

.theme-dark {
  --onedark-black: #282c34;
  --onedark-red: #e06c75;
  --onedark-green: #98c379;
  --onedark-yellow: #e5c07b;
  --onedark-blue: #61afef;
  --onedark-dark-blue: #1867c0;
  --onedark-purple: #c678dd;
  --onedark-teal: #56b6c2;
  --onedark-grey: #abb2bf;

  --background-primary: #282c34;
  --background-primary-alt: #21252b;
  --background-secondary: #262831;
  --background-secondary-alt: #282c34;
  --text-normal: #abb2bf;
  --text-faint: rgba(215, 218, 224, 0.4);
  --text-bright: #b5c7c7;
  --text-title-h1: #a79645;
  --text-title-h2: #939bd6;
  --text-title-h3: #ba6ea0;
  --text-title-h4: #b78b60;
  --text-title-h5: #859679;
  --text-title-h6: #8be9fd;
  --text-link: #8be9fd;
  --text-a: var(--onedark-blue);
  --text-a-hover: #bd93f9;
  --text-mark: var(--onedark-yellow);
  --text-highlight-bg: #6272a4;
  --interactive-accent: #5f6161;
  --interactive-before: #61afef;
  --background-modifier-border: #abb2bf;
  --blockquote-border: #dfe2e5;
  --text-accent: #8be9fd;
  --interactive-accent-rgb: #ffb86c;
  --text-radius: 0.2em;

  --cursor-color: var(--text-normal);
  --link-brackets-color: #e06c75;
  --code-color: #EB5757;
  --dock-icon-hover: #d7dae0;
  --checkbox-unchecked-fill: #cccccc;
  --code-background: var(--background-secondary);
}

.theme-light {
  /* Light theme colors taken from https://github.com/atom/one-light-syntax/blob/master/styles/colors.less */
  --onedark-black: #282c34;
  --onedark-red: #e45649;
  --onedark-green: #50a14f;
  --onedark-blue: #4078f2;
  --onedark-yellow: #e5c07b;
  --onedark-purple: #a626a4;
  --onedark-teal: #0184bc;
  --onedark-grey: #abb2bf;

  --background-primary: rgb(250, 250, 250);
  --background-primary-alt: #cccccc;
  --background-secondary: #cccccc;
  --background-secondary-alt: #cccccc;
  --text-normal: var(--onedark-black);
  --text-faint: rgba(54, 54, 54, 0.4);
  --text-title-h1: #a79645;
  --text-title-h2: #939bd6;
  --text-title-h3: #ba6ea0;
  --text-title-h4: #b78b60;
  --text-title-h5: #859679;
  --text-title-h6: #8be9fd;
  --text-link: #8be9fd;
  --text-a: var(--onedark-blue);
  --text-a-hover: #bd93f9;
  --text-mark: var(--onedark-yellow);
  --text-highlight-bg: #6272a4;
  --interactive-accent: #5f6161;
  --interactive-before: #61afef;
  --background-modifier-border: #abb2bf;
  --blockquote-border: #dfe2e5;
  --text-accent: #8be9fd;
  --interactive-accent-rgb: #ffb86c;
  --cursor-color: var(--onedark-blue);
  --link-brackets-color: #e06c75;
  --code-color: #EB5757;
  --dock-icon-hover: var(--text-normal);
  --explorer-filename: var(--text-normal);
  --explorer-focused-background: #2c313a;
  --checkbox-checked-fill: #1867c0;
  --checkbox-unchecked-fill: #cccccc;
}

#graph-view-canvas .links {
  stroke: var(--interactive-accent-rgb) !important;
}

.checkbox-container {
  background-color: var(--interactive-accent);
  height: 16px !important;
  width: 34px !important;
}

.checkbox-container.is-enabled{
  background-color: var(--interactive-before);
}

.checkbox-container::after {
  background-color: var(--background-secondary-alt);
  height: 11px !important;
  width: 14px !important;
  left: -4px !important;
}

html, body {
  font-size: 18px;
}

strong {
  font-weight: bolder;
}

a,
.internal-link,
.cm-hmd-internal-link,
.cm-link {
  color: var(--text-a) !important;
  text-decoration: none !important;
}

.cm-formatting-link {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  color: var(--link-brackets-color) !important
}

a:hover, .internal-link:hover {
  color: var(--text-a-hover) !important;
  text-decoration: none !important;
}

mark {
  padding: 0 0.1em;
  background-color: var(--text-mark) !important;
  border-radius: var(--text-radius);
  color: var(--background-primary) !important ;
}


.file-view-actions a,
.cm-quote {
  color: var(--text-normal) !important;
}

.file-view-actions a:hover {
  color: var(--text-a) !important;
}

.cl-underlined-text {
  text-decoration: none !important;
  color: var(--text-link) !important;
}

.cm-tag {
  color: var(--text-faint);
}

/* .cm-inline-code, .HyperMD-codeblock{
  color: var(--code-color) !important;
  background-color: var(--code-background) !important;
} */

pre code,
.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
  font-family: var(--editor-font), Consolas, 'Courier New', 'Noto Sans TC','Source Han Sans CN', "微软雅黑"!important;
}

pre code {
  padding: 8px !important;
  display: block;
  border-radius: 2px !important;
  color: var(--text-normal) !important;
  background-color: var(--code-background) !important;
}


/* The backticks on inline code are separate elements from the code, so
have to format them separately for adding rounded corners */
/* Format the left backtick */
.cm-formatting-code {
  border-radius: var(--text-radius) 0 0 var(--text-radius);
}

/* Format the right backtick */
.cm-inline-code + .cm-formatting-code {
  border-radius: 0 var(--text-radius) var(--text-radius) 0;
}

.markdown-preview-view pre {
  padding: 0px !important;
}

.markdown-preview-view code {
  font-size: 85%;
}

.CodeMirror pre.CodeMirror-line.HyperMD-codeblock-begin {
  padding-top: 10px;
}

.CodeMirror pre.CodeMirror-line.HyperMD-codeblock {
  padding-left: 15px;
}

/* Cursor */
.cm-fat-cursor .CodeMirror-cursor {
    background-color: var(--cursor-color) !important;
    width: 1.1ch;
}

.cm-animate-fat-cursor {
    background-color: var(--cursor-color) !important;
}

th {
  font-weight: 600 !important;
}

thead {
  border-bottom: 2px solid var(--background-modifier-border);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdown-preview-view blockquote {
  border: none;
  border-left: 5px solid;
  border-color: var(--blockquote-border) !important;
  padding-bottom: 0;
  margin-bottom: 0;
}

.markdown-preview-view hr {
  background-color: var(--text-normal);
}

.main-container-header {
  padding-top: 0 !important;
}

.title {
  font-weight: 600 !important;
}
.side-dock.mod-left {
  border-right: none;
}

.side-dock-panels-container {
  width: calc(100% - 48px);
}

.side-dock-panels-container * {
  font-size: 14px !important;
}

.app-container.is-left-sidedock-collapsed .side-dock.mod-left .side-dock-ribbon, .app-container.is-right-sidedock-collapsed .side-dock.mod-right .side-dock-ribbon {
  background-color: var(--background-secondary-alt);
}

.side-dock-title {
  padding-top: 14px !important;
  font-size: 18px !important;
  font-weight: 800 !important
}
.side-dock-ribbon {
  flex: 0 0 48px;
}

.side-dock-ribbon svg {
  width: 24px;
  height: 24px;
  color: var(--text-faint);
}

.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover {
  color: var(--dock-icon-hover);
}

.side-dock-collapse-btn {
  right: 24px;
  top: 16px;
}

.nav-file-title, .nav-folder-title {
  color: var(--text-normal);
}

.nav-file.is-active > .nav-file-title, .nav-file.is-active > .nav-folder-title, .nav-file.is-active > .nav-folder-collapse-indicator, .nav-folder.is-active > .nav-file-title, .nav-folder.is-active > .nav-folder-title, .nav-folder.is-active > .nav-folder-collapse-indicator {
  background-color: var(--background-secondary-alt);
  color: var(--text-bright);
  font-weight: bold;
}

.side-dock-settings {
  margin-bottom: 0;
}

.nav-file {
  line-height: normal;
}

.nav-file-title-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.plugin {
  padding: 5px 10px !important;
  margin: 0 !important;
}

.app-container.is-left-sidedock-collapsed .side-dock.mod-left, .app-container.is-right-sidedock-collapsed .side-dock.mod-right {
  width: 48px!important;
}

.is-read-mode .markdown-preview-view p {
  font-family: var(--preview-font);
  font-size: 18px;
}

.cm-s-obsidian {
  font-family: Consolas, 'Courier New', 'Noto Sans TC','Source Han Sans CN', "微软雅黑";
  font-size: 16px; /*Editor font-size*/
}

.app-container {
  font-family: var(--preview-font);
}

.cm-s-obsidian {/*Editor padding*/
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.CodeMirror-scroll::-webkit-scrollbar {
  display: none;
}

.markdown-preview-view {
  font-family: var(--preview-font);
  font-size: 18px;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.markdown-embed-title {
  font-weight: 600;
}

.markdown-preview-section code {
  background-color: var(--background-secondary) !important;
  
}

.markdown-embed {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.cm-header, .cm-formatting-header {
  font-family: var(--editor-font) !important;
}

.cm-header-1,
.markdown-preview-view h1 {
  font-weight: 500;
  font-size: 34px;
  font-weight: bold;
  color: var(--text-title-h1);
}

.cm-header-2,
.markdown-preview-view h2 {
  font-weight: 500;
  font-size: 28px;
  font-weight: bold;
  color: var(--text-title-h2);
}

.cm-header-3,
.markdown-preview-view h3 {
  font-weight: 500;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-title-h3);
}

.cm-header-4,
.markdown-preview-view h4 {
  font-weight: 500;
  font-size: 22px;
  font-weight: bold;
  color: var(--text-title-h4);
}

.cm-header-5,
.markdown-preview-view h5 {
  font-weight: 500;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-title-h5);
}

.cm-header-6,
.markdown-preview-view h6 {
  font-weight: 500;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-title-h6);
}

.CodeMirror-linenumber {
  color: var(--text-faint) !important;
}

.markdown-preview-view .task-list-item-checkbox {
  top: 2px;
  width: 18px;
  height: 18px;
}

input[type='checkbox']:after {
  line-height: 1.5em;
  content: '';
  text-align: center;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--text-normal);
  transition: .3s;
}

input[type='checkbox']:checked:after {
  content: '\2713';
  color: white;
  background-color: var(--onedark-dark-blue);
}

.footnote-backref {
  font-family: Roboto;
}

.cm-em {
  color: #c678dd;
}

.cm-strong {
  color: #d19a66;
}

.table {
  background-color: var(--background-secondary-alt);
  border: 1px solid var(--background-modifier-border);
  padding: 4px;
  line-height: normal;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.suggestion-item.is-selected {
  background-color: var(--background-secondary);
}

.workspace-leaf.mod-active .workspace-leaf-header {
  background-color: var(--background-primary-alt);
  border-bottom: 2px solid var(--interactive-accent);
}

.status-bar {
  border-top: none;
  color: #9da5b4;
}

.theme-light strong {
  color: #000000;
  font-weight: bolder;
}

.theme-light em {
  color: #000000;
}

.cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight {
  background-color: var(--text-mark) !important;
  color: #000;
}

.theme-dark strong {
  color: var(--text-bright);
  font-weight: bolder;
}

.theme-dark em {
  color: var(--text-normal);;
}

.theme-dark mark > em {
  color: var(--background-primary);
}